# Analyse GDP of Countries

DESCRIPTION

Problem Statement: Evaluate the dataset containing the GDPs of different countries to:

    Find and print the name of the country with the highest GDP
    Find and print the name of the country with the lowest GDP
    Print out text and input values iteratively
    Print out the entire list of the countries with their GDPs
    Print the highest GDP value, lowest GDP value, mean GDP value, standardized GDP value, and the sum of all the GDPs

**Libraries**

In [ ]:
import numpy as np

In [ ]:
#list of each countries
countries=['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe']
#list of percentage
percentages=[2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]

**Find and print the name of the country with the highest GDP**

In [ ]:
Percentage=np.array(percentages)
print(Percentage.argmax())
#Highest GDP of the country
country=countries[Percentage.argmax()]
print('Highest GDP name of the country :',country)

45
Highest GDP name of the country : Norway

**Find and print the name of the country with the lowest GDP**

In [ ]:
Percentage=np.array(percentages)
print(Percentage.argmin())
#Highest GDP of the country
country=countries[Percentage.argmin()]
print('Lowest GDP name of the country :',country)

21
Lowest GDP name of the country : Ethiopia

**Print out text and input values iteratively**

In [ ]:
for countrys in countries:
  print('Evaluate Country Names:',format(countrys))

Evaluate Country Names: Algeria
Evaluate Country Names: Angola
Evaluate Country Names: Argentina
Evaluate Country Names: Australia
Evaluate Country Names: Austria
Evaluate Country Names: Bahamas
Evaluate Country Names: Bangladesh
Evaluate Country Names: Belarus
Evaluate Country Names: Belgium
Evaluate Country Names: Bhutan
Evaluate Country Names: Brazil
Evaluate Country Names: Bulgaria
Evaluate Country Names: Cambodia
Evaluate Country Names: Cameroon
Evaluate Country Names: Chile
Evaluate Country Names: China
Evaluate Country Names: Colombia
Evaluate Country Names: Cyprus
Evaluate Country Names: Denmark
Evaluate Country Names: El Salvador
Evaluate Country Names: Estonia
Evaluate Country Names: Ethiopia
Evaluate Country Names: Fiji
Evaluate Country Names: Finland
Evaluate Country Names: France
Evaluate Country Names: Georgia
Evaluate Country Names: Ghana
Evaluate Country Names: Grenada
Evaluate Country Names: Guinea
Evaluate Country Names: Haiti
Evaluate Country Names: Honduras
Evaluate Country Names: Hungary
Evaluate Country Names: India
Evaluate Country Names: Indonesia
Evaluate Country Names: Ireland
Evaluate Country Names: Italy
Evaluate Country Names: Japan
Evaluate Country Names: Kenya
Evaluate Country Names: South Korea
Evaluate Country Names: Liberia
Evaluate Country Names: Malaysia
Evaluate Country Names: Mexico
Evaluate Country Names: Morocco
Evaluate Country Names: Nepal
Evaluate Country Names: New Zealand
Evaluate Country Names: Norway
Evaluate Country Names: Pakistan
Evaluate Country Names: Peru
Evaluate Country Names: Qatar
Evaluate Country Names: Russia
Evaluate Country Names: Singapore
Evaluate Country Names: South Africa
Evaluate Country Names: Spain
Evaluate Country Names: Sweden
Evaluate Country Names: Switzerland
Evaluate Country Names: Thailand
Evaluate Country Names: United Arab Emirates
Evaluate Country Names: United Kingdom
Evaluate Country Names: United States
Evaluate Country Names: Uruguay
Evaluate Country Names: Venezuela
Evaluate Country Names: Vietnam
Evaluate Country Names: Zimbabwe

**Print out the entire list of the countries with their GDPs**

In [ ]:
len(countries)

63

In [ ]:
Percentage

array([ 2255.225482 ,   629.9553062, 11601.63022  , 25306.82494  ,
       27266.40335  , 19466.99052  ,   588.3691778,  2890.345675 ,
       24733.62696  ,  1445.760002 ,  4803.398244 ,  2618.876037 ,
         590.4521124,   665.7982328,  7122.938458 ,  2639.54156  ,
        3362.4656   , 15378.16704  , 30860.12808  ,  2579.115607 ,
        6525.541272 ,   229.6769525,  2242.689259 , 27570.4852   ,
       23016.84778  ,  1334.646773 ,   402.6953275,  6047.200797 ,
         394.1156638,   385.5793827,  1414.072488 ,  5745.981529 ,
         837.7464011,  1206.991065 , 27715.52837  , 18937.24998  ,
       39578.07441  ,   478.2194906, 16684.21278  ,   279.2204061,
        5345.213415 ,  6288.25324  ,  1908.304416 ,   274.8728621,
       14646.42094  , 40034.85063  ,   672.1547506,  3359.517402 ,
       36152.66676  ,  3054.727742 , 33529.83052  ,  3825.093781 ,
       15428.32098  , 33630.24604  , 39170.41371  ,  2699.123242 ,
       21058.43643  , 28272.40661  , 37691.02733  ,  9581.05659  ,
        5671.912202 ,   757.4009286,   347.7456605])

In [ ]:
for i in range(0,len(countries)):
  print('Evaluate the country Name',countries[i] , 'and GDP of',countries[i],'is',Percentage[i])

Evaluate the country Name Algeria and GDP of Algeria is 2255.225482
Evaluate the country Name Angola and GDP of Angola is 629.9553062
Evaluate the country Name Argentina and GDP of Argentina is 11601.63022
Evaluate the country Name Australia and GDP of Australia is 25306.82494
Evaluate the country Name Austria and GDP of Austria is 27266.40335
Evaluate the country Name Bahamas and GDP of Bahamas is 19466.99052
Evaluate the country Name Bangladesh and GDP of Bangladesh is 588.3691778
Evaluate the country Name Belarus and GDP of Belarus is 2890.345675
Evaluate the country Name Belgium and GDP of Belgium is 24733.62696
Evaluate the country Name Bhutan and GDP of Bhutan is 1445.760002
Evaluate the country Name Brazil and GDP of Brazil is 4803.398244
Evaluate the country Name Bulgaria and GDP of Bulgaria is 2618.876037
Evaluate the country Name Cambodia and GDP of Cambodia is 590.4521124
Evaluate the country Name Cameroon and GDP of Cameroon is 665.7982328
Evaluate the country Name Chile and GDP of Chile is 7122.938458
Evaluate the country Name China and GDP of China is 2639.54156
Evaluate the country Name Colombia and GDP of Colombia is 3362.4656
Evaluate the country Name Cyprus and GDP of Cyprus is 15378.16704
Evaluate the country Name Denmark and GDP of Denmark is 30860.12808
Evaluate the country Name El Salvador and GDP of El Salvador is 2579.115607
Evaluate the country Name Estonia and GDP of Estonia is 6525.541272
Evaluate the country Name Ethiopia and GDP of Ethiopia is 229.6769525
Evaluate the country Name Fiji and GDP of Fiji is 2242.689259
Evaluate the country Name Finland and GDP of Finland is 27570.4852
Evaluate the country Name France and GDP of France is 23016.84778
Evaluate the country Name Georgia and GDP of Georgia is 1334.646773
Evaluate the country Name Ghana and GDP of Ghana is 402.6953275
Evaluate the country Name Grenada and GDP of Grenada is 6047.200797
Evaluate the country Name Guinea and GDP of Guinea is 394.1156638
Evaluate the country Name Haiti and GDP of Haiti is 385.5793827
Evaluate the country Name Honduras and GDP of Honduras is 1414.072488
Evaluate the country Name Hungary and GDP of Hungary is 5745.981529
Evaluate the country Name India and GDP of India is 837.7464011
Evaluate the country Name Indonesia and GDP of Indonesia is 1206.991065
Evaluate the country Name Ireland and GDP of Ireland is 27715.52837
Evaluate the country Name Italy and GDP of Italy is 18937.24998
Evaluate the country Name Japan and GDP of Japan is 39578.07441
Evaluate the country Name Kenya and GDP of Kenya is 478.2194906
Evaluate the country Name South Korea and GDP of South Korea is 16684.21278
Evaluate the country Name Liberia and GDP of Liberia is 279.2204061
Evaluate the country Name Malaysia and GDP of Malaysia is 5345.213415
Evaluate the country Name Mexico and GDP of Mexico is 6288.25324
Evaluate the country Name Morocco and GDP of Morocco is 1908.304416
Evaluate the country Name Nepal and GDP of Nepal is 274.8728621
Evaluate the country Name New Zealand and GDP of New Zealand is 14646.42094
Evaluate the country Name Norway and GDP of Norway is 40034.85063
Evaluate the country Name Pakistan and GDP of Pakistan is 672.1547506
Evaluate the country Name Peru and GDP of Peru is 3359.517402
Evaluate the country Name Qatar and GDP of Qatar is 36152.66676
Evaluate the country Name Russia and GDP of Russia is 3054.727742
Evaluate the country Name Singapore and GDP of Singapore is 33529.83052
Evaluate the country Name South Africa and GDP of South Africa is 3825.093781
Evaluate the country Name Spain and GDP of Spain is 15428.32098
Evaluate the country Name Sweden and GDP of Sweden is 33630.24604
Evaluate the country Name Switzerland and GDP of Switzerland is 39170.41371
Evaluate the country Name Thailand and GDP of Thailand is 2699.123242
Evaluate the country Name United Arab Emirates and GDP of United Arab Emirates is 21058.43643
Evaluate the country Name United Kingdom and GDP of United Kingdom is 28272.40661
Evaluate the country Name United States and GDP of United States is 37691.02733
Evaluate the country Name Uruguay and GDP of Uruguay is 9581.05659
Evaluate the country Name Venezuela and GDP of Venezuela is 5671.912202
Evaluate the country Name Vietnam and GDP of Vietnam is 757.4009286
Evaluate the country Name Zimbabwe and GDP of Zimbabwe is 347.7456605

**Print the highest GDP value, lowest GDP value, mean GDP value, standardized GDP value, and the sum of all the GDPs
**

In [ ]:
#Highest GDP value
print('Highest GDP Value =',Percentage.max())
print('lowest GDP Value =',Percentage.min())
print('mean GDP Value =',Percentage.mean())
print('standardized GDP Value =',Percentage.std())
print('sum of all GDP Value =',Percentage.sum())

Highest GDP Value = 40034.85063
lowest GDP Value = 229.6769525
mean GDP Value = 11289.409271639683
standardized GDP Value = 12743.828910617945
sum of all GDP Value = 711232.7841133